<div ng-controller="manageJobHuntCtrl as app">

        <div class="panel panel-info">
            <div class="panel-heading">
                <h1 class="panel-title">
                    {{paramFlag}} Job Hunting Information
                </h1>
            </div>

            <div class="panel-body">
                <form class="form-horizontal" role="form">
                    <div class="form-group ">
                        <div class="col-md-5">
                            <label for="dateApplied" class="control-label">Date Applied</label>
                            <p class="input-group">
                                <input type="text" class="form-control" datepicker-popup="{{format}}"
                                       ng-model="jobHuntInfo.dateApplied" is-open="opened" min-date="minDate"
                                       max-date="maxDate" datepicker-options="dateOptions" ng-required="true"
                                       close-text="Close" id="dateApplied" ng-change="checkDateValidity()" focus-me="shouldBeOpen"/>
                                <span class="input-group-btn">
                                <button type="button" class="btn btn-default" ng-click="openCalendar($event)"><i class="glyphicon glyphicon-calendar"></i></button>
                                </span>
                            </p>
                        </div>
                    </div>


<!--<div class="form-group {{dateStatus.class}}">-->
    <!--<p class="input-group">-->
        <!--<input type="text" id="inpDate" class="form-control"-->
               <!--datepicker-popup="dd-MMMM-yyyy" ng-model="task.date"-->
               <!--is-open="datePickerStatus.isOpen" min-date="minDate"-->
               <!--datepicker-options="dateOptions" ng-required="true"-->
               <!--close-text="Close" placeholder="Due date"-->
               <!--ng-change="checkDateValidity()"-->
            <!--<span class="input-group-btn">-->
                <!--<button type="button" class="btn btn-default"-->
                        <!--ng-click="openDatePicker($event)"-->
                    <!--<i class="glyphicon glyphicon-calendar"></i>-->
                <!--</button>-->
            <!--</span>-->
    <!--</p>-->
<!--</div>-->



                    <div class="col-md-4">
                        <div class="form-group">
                            <label for="company" class="control-label">Company</label>
                            <p class="input-group">
                                <select id="company" class="form-control" ng-options="company._id as company.Name for company in app.companies | orderBy:'Name'" ng-model="jobHuntInfo.company"></select>
                                <span class="input-group-btn">
                                <button type="button" class="btn btn-default" ng-click="openReferenceManager('Company')"><i class="glyphicon glyphicon-pencil"></i></button>
                                </span>
                            </p>
                        </div>
                    </div>


                    <div class="col-md-4">
                        <div class="form-group">
                            <label for="position" class="control-label">Position</label>
                            <p class="input-group">
                                <select id="position" class="form-control" ng-options="position._id as position.Name for position in app.positions | orderBy:'Name'" ng-model="jobHuntInfo.position"></select>
                                <span class="input-group-btn">
                                <button type="button" class="btn btn-default" ng-click="openReferenceManager('Position')"><i class="glyphicon glyphicon-pencil"></i></button>
                                </span>
                            </p>
                        </div>
                    </div>

                    <div class="col-md-4">
                        <div class="form-group">
                            <label for="source" class="control-label">Source</label>
                            <p class="input-group">
                                <select id="source" class="form-control" ng-options="source._id as source.Name for source in app.sources | orderBy:'Name'" ng-model="jobHuntInfo.source"></select>
                                <span class="input-group-btn">
                                <button type="button" class="btn btn-default" ng-click="openReferenceManager('Source')"><i class="glyphicon glyphicon-pencil"></i></button>
                                </span>
                            </p>
                        </div>
                    </div>


                    <div class="col-md-5">
                        <div class="form-group">
                            <label for="contact" class="control-label">Contact</label>
                            <p class="input-group">
                                <select id="contact" class="form-control" ng-options="contact._id as contact.contactName for contact in app.contacts | orderBy:'contactName'" ng-model="jobHuntInfo.contact"></select>
                                <span class="input-group-btn">
                                <button type="button" class="btn btn-default" ng-click="openContact()"><i class="glyphicon glyphicon-pencil"></i></button>
                                </span>

                        </div>
                    </div>

                    <div class="col-md-4">
                        <div class="form-group">
                            <label for="status" class="control-label">Status</label>
                            <p class="input-group">
                                <select id="status" class="form-control" ng-options="status._id as status.Name for status in app.status | orderBy:'Name'" ng-model="jobHuntInfo.status"></select>
                                <span class="input-group-btn">
                                <button type="button" class="btn btn-default" ng-click="openReferenceManager('Status')"><i class="glyphicon glyphicon-pencil"></i></button>
                                </span>
                            </p>
                        </div>
                    </div>


                </form>
            </div>

            <div class="panel-footer">
                <button class="btn btn-success btn-sm" ng-click="app.manageJobhunt()"><i class="glyphicon glyphicon-floppy-disk"></i></button>
                <button class="btn btn-default btn-sm" ng-click="back()"><i class="glyphicon glyphicon-home"></i></button>
            </div>
        </div>
</div>




<!--Manage Contact-->
<script type="text/ng-template" id="manageContact.html">
    <div class="panel panel-info">
        <div class="panel-heading">
            <div class="panel-title">
                <h3>Manage Contacts</h3>
            </div>
        </div>

        <div class="panel-body">

            <div class="table-responsive">
                <table class="table table-hover table-bordered">
                    <tbody>
                    <tr>
                        <th>Contact Name</th>
                        <th>Contact Email</th>
                        <th>Contact Phone</th>
                    </tr>

                    <tr data-ng-repeat="contact in _contacts">
                        <td>{{contact.contactName}}</td>
                        <td>{{contact.contactEmail}}</td>
                        <td>{{contact.contactPhone}}</td>
                    </tr>

                    </tbody>
                </table>
            </div>


            <form class="form-inline" role="form">
                <div class="form-group">
                    <div class="input-group">
                        <label class="sr-only" for="contactInfo.Name">Enter Contact Name</label>
                        <input type="text" class="form-control" id="contactInfo.Name" placeholder="Enter Contact Name" ng-model="contactInfo.name" focus-me="shouldBeOpen"/>
                    </div>
                </div>

                <div class="form-group">
                    <div class="input-group">
                        <label class="sr-only" for="contactInfo.Email">Enter Contact Email</label>
                        <input type="text" class="form-control" id="contactInfo.Email" placeholder="Enter Contact Email" ng-model="contactInfo.eMail"/>
                    </div>
                </div>

                <div class="form-group">
                    <div class="input-group">
                        <label class="sr-only" for="contactInfo.Phone">Enter Contact Phone</label>
                        <input type="text" class="form-control" id="contactInfo.Phone" placeholder="Enter Contact Phone" ng-model="contactInfo.phone"/>
                    </div>
                </div>
            </form>

        </div>

        <div class="modal-footer">
            <button class="btn btn-primary" ng-click="ok()">Add</button>
            <button class="btn btn-warning" ng-click="cancel()">Exit</button>
        </div>
    </div>
</script>







<!--Manage Reference Table-->
<script type="text/ng-template" id="manageReference.html">

    <div class="panel panel-info">
        <div class="panel-heading">
            <div class="panel-title">
                Manage {{_group}}
            </div>
        </div>

        <div class="panel-body">
            <div class="table-responsive">
                <table class="table table-hover table-bordered">
                    <tbody>
                    <tr>
                        <th>{{_group}} Name</th>
                        <th></th><th></th>
                    </tr>

                    <tr data-ng-repeat="reference in _reference">
                        <td ng-show="!isEditable[$index]">{{reference.Name}}</td>
                        <td ng-show="isEditable[$index]">
                            <div class="input-group">
                                <input type="text" class="form-control" ng-keypress="getNewName($event)" ng-blur="getNewName($event)"
                                       value="{{reference.Name}}" focus-me="shouldBeOpen"/>
                                <span class="input-group-btn">
                                <button class="btn btn-success" ng-click="updateReference($index,_group);isEditable[$index] = false" ><i class="glyphicon glyphicon-ok"></i></button>
                                <button class="btn btn-default" ng-click="isEditable[$index] = false" ><i class="glyphicon glyphicon-remove"></i></button>
                                </span>
                            </div>
                        </td>
                        <td><button class="btn btn-info btn-xs" ng-click="isEditable[$index] = true"><i class="glyphicon glyphicon-edit"></i></button></td>
                        <td><button class="btn btn-danger btn-xs" ng-click="openDeleteConfirm('sm',reference._id,_group)"><i class="glyphicon glyphicon-trash"></i></button></td>
                    </tr>

                    </tbody>
                </table>
            </div>

            <form class="form-inline" role="form">
                <div class="form-group">
                    <div class="input-group">
                        <label class="sr-only" for="referenceName">Enter {{_group}} Name</label>
                        <input type="text" class="form-control" id="referenceName"
                               placeholder="Enter {{_group}} Name" ng-model="referenceName" focus-me="shouldBeOpen" required/>
                        <span class="input-group-btn">
                        <button class="btn btn-warning" ng-click="ok()" ><i class="glyphicon glyphicon-plus"></i></button>

                    <!--<div data-ng-show="error" class="text-danger">-->
                        <!--<strong data-ng-bind="error"></strong>-->
                    <!--</div>-->

                        </span>
                        <!--<span data-ng-hide="statusName.$valid" class="alert-danger">Please Enter a Valid Status</span></td>-->
                    </div>

                </div>
            </form>

        </div>

        <div class="modal-footer">
            <button class="btn btn-default" ng-click="cancel()"><i class="glyphicon glyphicon-home"></i></button>
        </div>

    </div>
</script>



<script type="text/ng-template" id="deleteConfirm.html">
    <div class="modal-header">
        <h3 class="modal-title">Confirm Delete</h3>
    </div>
    <div class="modal-body">
        <tr>Are you sure you want to delete this record?</tr>
    </div>
    <div class="modal-footer">
        <button class="btn btn-primary" ng-click="ok()">Yes</button>
        <button class="btn btn-warning" ng-click="cancel()">No</button>
    </div>
</script>


